*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  
}

body {
    background-color: #eee;
}

:root {
    --succes-color : #39ada2;
    --danger-color :#e91e63;
    --primary-color:#2196f3;
    --secondary-color:#ff3d00;
}

.save {
    width: 864px;
    margin: 13px auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.save p {
    background-color: var(--primary-color);
    top: 19px;
    right: 164px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    
}

.save::after {
    content: "";
    position: absolute;
    right:0;
    top: 0;
    height: 0px;
    width: 0px;
    border: 20px solid #eee;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.container {
   width: 980px;
    height: 100%;
    /* border: 1px solid black; */
    padding: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .cards {
    /* border: 1px solid red; */
    padding: 20px 0px 0px 0px;
    height: 100%;
    width: calc(50% - 9px);
    font-size: 17px;
    color: #381a33;
    position: relative;
    
    background-color: white;
}
.container .cards ul li {
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 30px;
    padding-left: 40px;
    padding-bottom: 5px;
    text-transform: capitalize;
    position: relative;
    
}

.container .cards ul li:last-child {
    border-bottom:none ;
}

.container .cards.one::before{
   content: "Basic";
    position: absolute;
    top: -39px;
    left: -1px;
    width: 97%;
    height: 50px;
    background-color: var(--secondary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.container .cards.tow::before {
   content: "Profisionel";
    position: absolute;
    top: -39px;
    left: -1px;
    width: 97%;
    height: 50px;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.container .cards.one ul  .one::before,
.two::before,
.three::before,
.eleven::before,
.therty::before
{
    content: "";
    position: absolute;
    top: -4px;
    left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--succes-color);
    padding: 2px;
}

.cards.one  ul .one::after,
.two::after,
.three::after,
.eleven::after,
.therty::after
{
  content: "";
    position: absolute;
    top: 3px;
    left: 23px;
    left: 19px;
    width: 4px;
    height: 11px;
    background-color: rgb(253 246 246);
    transform: rotate(46deg);
}

.cards.one  ul .one span::after,
.two span::after,
.three span::after,
.eleven span::after,
.therty span::after
{
  content: "";
    position: absolute;
    top: 6px;
    top: 6px;
    left: 15px;
    width: 4px;
    height: 7px;
    background-color: rgb(253 246 246);
    transform: rotate(148deg);
}


.cards.one ul  .four::before,
.five::before,
.six::before,
.seven::before,
.eight::before,
.nine::before,
.teen::before,
.twelve::before
{
    content: "";
    position: absolute;
    top: -4px;
    left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--danger-color);
    padding: 2px;
}

.cards.one ul  .four::after,
.five::after,
.six::after,
.seven::after,
.eight::after,
.nine::after,
.teen::after,
.twelve::after
{
    content: "";
    position: absolute;
    top: 2px;
    left: 18px;
    width: 3px;
    height: 10px;
    background-color: rgb(253 246 246);
    transform: rotate(45deg);
    border-radius: 30px;
}

.cards.one ul  .four span::before,
.five span::before,
.six span::before,
.seven span::before,
.eight span::before,
.nine span::before,
.teen span::before,
.twelve span::before
{
    content: "";
    position: absolute;
    top: 2px;
    left: 18px;
    left: 18px;
    width: 3px;
    height: 10px;
    background-color: rgb(253 246 246);
    transform: rotate(-45deg);
    border-radius: 39px;
}

 .cards.tow ul li::before
{
    content: "";
    position: absolute;
    top: -4px;
    left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--succes-color);
    padding: 2px;
}

.cards.tow  ul li::after
{
  content: "";
    position: absolute;
    top: 3px;
    left: 23px;
    left: 19px;
    width: 4px;
    height: 11px;
    background-color: rgb(253 246 246);
    transform: rotate(46deg);
}

.cards.tow ul li span::after
{
  content: "";
    position: absolute;
    top: 6px;
    top: 6px;
    left: 15px;
    width: 4px;
    height: 7px;
    background-color: rgb(253 246 246);
    transform: rotate(148deg);
}